<p class="application-page-title">{{ '::Menu:GhostNets' | abpLocalization }}</p>

<ngx-datatable (tableContextmenu)="OnTableContextMenu($event)"
               [rows]="ghostNets.items"
               [count]="ghostNets.totalCount"
               [list]="listService"
               default>
  <ngx-datatable-column [name]="'::EstimetedSize' | abpLocalization" prop="estimatedSize"></ngx-datatable-column>
  <ngx-datatable-column [name]="'::Status' | abpLocalization" prop="ghostNetStatus.type"></ngx-datatable-column>
  <ngx-datatable-column [name]="'::Location' | abpLocalization" prop="location"></ngx-datatable-column>
</ngx-datatable>

<abp-context-menu [isShow]="isContextMenuOpened"
                  [coordinatePosition]="coordinatePosition"
                  [availableContextActions]="availableContextActions">
</abp-context-menu>
