<p class="application-page-title">{{ '::Menu:GhostNetsAndPersons' | abpLocalization }}</p>

<ngx-datatable (tableContextmenu)="OnTableContextMenu($event)"
               [rows]="ghostNetPersons.items"
               [count]="ghostNetPersons.totalCount"
               [list]="listService"
               default>
  <ngx-datatable-column [name]="'::GhostNet' | abpLocalization" prop="ghostNet.location"></ngx-datatable-column>
  <ngx-datatable-column [name]="'::Person' | abpLocalization" prop="user.name"></ngx-datatable-column>
</ngx-datatable>

<abp-context-menu [isShow]="isContextMenuOpened"
                  [coordinatePosition]="coordinatePosition"
                  [availableContextActions]="availableContextActions">
</abp-context-menu>
